.container.pb-4
  .col-lg-4.offset-lg-4.col-md-6.offset-md-3.col-sm-8.offset-sm-2.mb-4
    %h3.text-center Hi! Welcome back :)

    .col-sm-12.card.my-4

      .mt-3

      - if @login_error
        .col-xs-12
          .alert.alert-danger
            = @login_error

      .col-sm-12
        = simple_form_for :session do |f|
          = f.input :email, placeholder: 'Enter email...'
          = f.input :password, type: :password, placeholder: 'Enter password...'

          .row.mb.mt-4
            .col-sm-6
              = link_to 'Cancel', root_path, class: 'btn btn-block btn-large btn-secondary'
            .col-sm-6
              = f.submit 'Login', class: 'btn btn-block btn-large btn-primary', role: 'button'

          .text-center.my-4
            %p
              Don't have an account?
              = link_to 'Sign up', signup_path


