.container.pb-5
  .col-md-8.offset-md-2.col-lg-6.offset-lg-3.px-xl-5
    %h3.text-center Registration

    .col-sm-12.card.mt-4
      .col-sm-12.my-3
        = simple_form_for @user, url: signup_path do |f|
          .row
            .col-sm-6
              = f.input :first_name, placeholder: 'First name...'
            .col-sm-6
              = f.input :last_name, placeholder: 'Last name...'

          = f.input :email, placeholder: 'Enter email...'
          = f.input :password, type: :password, placeholder: 'Enter password...'
          = f.input :password_confirmation, type: :password, placeholder: 'Confirm password...', label: 'Confirm password'

          .row.mb.mt-4
            .col-sm-6.mb-2
              = link_to 'Cancel', root_path, class: 'btn btn-block btn-large btn-secondary'
            .col-sm-6
              = f.submit 'Create Account', class: 'btn btn-block btn-large btn-primary', role: 'button'