%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to root_path, class: 'navbar-brand' do
        %span.sr-only EthicalTree
        = image_tag 'logo/logo.png', class: 'et-logo'

      %button.navbar-toggle.collapsed{'data-toggle': 'collapse', 'data-target': '#nav-menu'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    .collapse.navbar-collapse#nav-menu
      %ul.nav.navbar-nav.navbar-right#nav-menu
        - if logged_in?
          %li= link_to 'Logout', logout_path
        - else
          %li= link_to 'Signup', signup_path
          %li= link_to 'Login', login_path
