!!!
%html
  %head
    %title EthicalTree
    %meta{name: "viewport", content: 'width=device-width', 'initial-scale': '1.0'}
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css'
    = javascript_pack_tag 'listing_detail'
    = javascript_include_tag 'application'

  %body
    = render 'keys'
    = render 'header'
    = render 'flash'
    .lmt
      = yield
    = render 'footer'

